.header {
    text-align:center;
    margin-top: 100px;
    padding-bottom: 25px;
    

}
.flexcontainers {
    display: flex;
    justify-content: space-between;

    
}

.computermove {
    margin-right: 35%;
    width: 100px;
    height: 100px;
    transition:all 0.07;
  

}

.playermove {
    margin-left: 35%;
    width: 100px;
    height: 100px;
    border-style: solid;
   border-color:  white;
   transition: border 1s;
   
    
   
}

.move {
    border-style: solid;
    border-color: black;
    transition: border 1s all;
    transition: border-color 0.5s;
    

}

#computerscore {

}

#playerscore {
    
}

